/*Grid*/
.col.s1{
	width: 8.333333%;
}
.col.s2{
	width: 16.666666%;
}
.col.s3{
	width: 25%;
}
.col.s4{
	width: 33.333333%;
}
.col.s5{
	width: 41.666666%;
}
.col.s6{
	width: 50%;
}
.col.s7{
	width: 58.333333%;
}
.col.s8{
	width: 16.666666%;
}
.col.s9{
	width: 75%;
}
.col.s10{
	width: 83.333333%;
}
.col.s11{
	width: 91.666666%;
}
.col.s12{
	width: 100%;
}
.col{
	padding-left: 15px;
	padding-right: 15px;
}

/* OFFSET */
._offset-1{
	width: 8.333333%;
}
._offset-2{
	width: 16.666666%;
}
._offset-3{
	width: 25%;
}
._offset-4{
	width: 33.333333%;
}
._offset-5{
	width: 41.666666%;
}
._offset-6{
	margin-left: 50%;
}
._offset-7{
	margin-left: 58.333333%;
}
._offset-8{
	margin-left: 16.666666%;
}
._offset-9{
	margin-left: 75%;
}
._offset-10{
	margin-left: 83.333333%;
}
._offset-11{
	margin-left: 91.666666%;
}
._offset-12{
	margin-left: 100%;
}


@media screen and (max-width: 769px){

}